@model PersonModel
@using GJJA.RegistraVoce.Domain.Enums

@{
    ViewData["Title"] = "Create Person Page";
}

<h2>*** Create Person Page ***</h2>

<strong>
@Html.ActionLink("List all", "Index", "Person")
</strong>

@using (Html.BeginForm("Insert", "Person", FormMethod.Post))
{
    <table>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(m => m.Name, new { @class="form-control form-text"})</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(Gender))), new { @class="form-control form-text"})
            </td>
        </tr>
        <tr>
            <td>Document Number</td>
            <td>@Html.TextBoxFor(m => m.DocumentNumber, new { @class="form-control form-text"})</td>
        </tr>
        <tr>
            <td>Identification</td>
            <td>@Html.TextBoxFor(m => m.Identification, new { @class="form-control form-text"})</td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td>@Html.TextBoxFor(m => m.BirthDate, "{0:dd/MM/yyyy}", new { @class="form-control form-text"})</td>
        </tr>
        <tr>
            <td>Marital Status</td>
            <td>@Html.DropDownListFor(m => m.MaritalStatus, new SelectList(Enum.GetValues(typeof(MaritalStatus))), new { @class="form-control form-text"})
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Html.TextBoxFor(m => m.Address, new { @class="form-control form-text"})</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>@Html.TextBoxFor(m => m.Phone, new { @class="form-control form-text"})</td>
        </tr>
    </table>
    <input type="submit" value="Save Person" class="btn btn-primary"/>
}