@model ListPersonModel

@{
    ViewData["Title"] = "Person Page";
}

<h2>*** Person Page ***</h2>

<strong>
@Html.ActionLink("Create Person", "Create", "Person")
</strong>


<table class="table table-striped" >
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>        
    </tr>

@foreach(var person in Model.ListPerson)
{
    <tr>
        <td>@person.Name</td>
        <td>@person.Gender</td>
        <td>
            <strong>
                @Html.ActionLink("Details", "Details", "Person", new { personId = person.Id })
            </strong>
        </td>
        <td>
            <strong>
                @Html.ActionLink("Edit", "Edit", "Person", new { personId = person.Id })
            </strong>
        </td>
        <td>
            <strong>
                @Html.ActionLink("Delete", "DeletePerson", "Person", new { personId = person.Id })
            </strong>
        </td>

    </tr>    
}
   
</table>
</br>
<p><strong>Total de pessoas: @Model.ListPerson.Count()</strong></p>

